<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB</title>
    <script src="{{ url_for('static', filename='scripts/101-hbnb.js') }}"></script>
</head>
<body>
    <ul>
        {% for state, cities in st_ct %}
            <li>
                <input type="checkbox" data-id="{{ state.id }}" data-name="{{ state.name }}">
                {{ state.name }}
                <ul>
                    {% for city in cities %}
                        <li>
                            <input type="checkbox" data-id="{{ city.id }}" data-name="{{ city.name }}">
                            {{ city.name }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
 <h2>Reviews<span id="toggle-reviews" data-status="show">show</span></h2>

<div id="reviews-container">
    <div class="review">
        <h3>Review 1</h3>
        <p>review our services.</p>
    </div>
    <div class="review">
        <h3>Review 2</h3>
        <p>review our amenities.</p>
    </div>
    
</div>
</body>
</html>
